---
const PageTitle = "Magnesium";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <title>{PageTitle}</title>
        <style is:inline>
            /* generated using colors.co */
            :root {
                --eerie-black: #1c1c1cff; /* background */
                --moonstone: #489fb5ff;
                --sky-blue: #82c0ccff;
                --isabelline: #ede7e3ff;
                --orange-peel: #ffa62bff;

                /* own colors */
                --yellowish: rgb(255, 208, 0);
                --eerie-black-light: rgb(33, 33, 33);
            }

            html {
                background-color: var(--eerie-black);
            }

            p {
                color: darkgrey;
            }
        </style>
    </head>
    <body>
        <slot />
    </body>
</html>
