---
---

<div>
    <p>The magnesium programming language</p>
</div>

<style>
    div {
        margin: auto;
        padding: 15px;
        background-color: var(--yellowish);
        border-left: 5xp;
    }

    p {
        color: black;
        font-family: 'Roboto';
        font-weight: 700;
    }
</style>